@font-face {
	font-family: "TTComsetak";
	font-weight: 300;
	src: url("/font/TTComsetakL.eot"),
		url("/font/TTComsetakL.eot?#iefix") format("embedded-opentype"),
		url("./font/TTComsetakL.woff") format("woff"),
		url("./font/TTComsetakL.ttf") format("truetype"),
		url("./font/TTComsetakL.otf") format("opentype");
}
@font-face {
	font-family: "TTComsetak";
	font-weight: 500;
	src: url("/font/TTComsetakR.eot"),
		url("/font/TTComsetakR.eot?#iefix") format("embedded-opentype"),
		url("./font/TTComsetakR.woff") format("woff"),
		url("./font/TTComsetakR.ttf") format("truetype"),
		url("./font/TTComsetakR.otf") format("opentype");
}
@font-face {
	font-family: "TTComsetak";
	font-weight: 700;
	src: url("/font/TTComsetakB.eot"),
		url("/font/TTComsetakB.eot?#iefix") format("embedded-opentype"),
		url("./font/TTComsetakB.woff") format("woff"),
		url("./font/TTComsetakB.ttf") format("truetype"),
		url("./font/TTComsetakB.otf") format("opentype");
}
@font-face {
	font-family: "TMONBlack";
	font-weight: 700;
	src: url("./font/TMONBlack.ttf") format("truetype");
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 300;
	src: url("./font/GmarketSansTTFLight.ttf") format("truetype"),
		url("./font/GmarketSansTTFLight.otf") format("opentype");
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 500;
	src: url("./font/GmarketSansTTFMedium.ttf") format("truetype"),
		url("./font/GmarketSansTTFMedium.otf") format("opentype");
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 700;
	src: url("./font/GmarketSansTTFBold.ttf") format("truetype"),
		url("./font/GmarketSansTTFBold.otf") format("opentype");
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 300;
	src: url("./font/NotoSansKR-Thin.woff") format("woff"),
		url("./font/NotoSansKR-Thin.ttf") format("truetype"),
		url("./font/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 500;
	src: url("./font/NotoSansKR-DemiLight.woff") format("woff"),
		url("./font/NotoSansKR-DemiLight.ttf") format("truetype"),
		url("./font/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 700;
	src: url("./font/NotoSansKR-Medium.woff") format("woff"),
		url("./font/NotoSansKR-Medium.ttf") format("truetype"),
		url("./font/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
	font-family: "NotoSansKR";
	font-weight: 900;
	src: url("./font/NotoSansKR-Black.woff") format("woff"),
		url("./font/NotoSansKR-Black.ttf") format("truetype"),
		url("./font/NotoSansKR-Black.otf") format("opentype");
}

/****************** COMMON ******************/

body {
	overflow-x: hidden;
	word-break: normal;
}
body:lang(ko) {
	word-break: keep-all;
}
.body_container {
	background-color: #fff;
	font-family: "NanumSquare", sans-serif, "Roboto";
	color: #000;
	overflow: hidden;
}
div {
	font-family: "NanumSquare", sans-serif;
}
p {
	font-family: "NanumSquare", sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	color: #101010;
}
button {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}
button:focus {
	outline: 0;
}
.section {
	background-color: #fff;
	margin: auto;
	padding: 80px;
}
.display_flex_center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.show {
	display: block !important;
}
.hidden {
	display: none !important;
}
.btn_top {
	position: fixed;
	bottom: 100px;
	right: 0;
}
.sticky_footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.sticky_footer_wrapper {
	position: relative;
	width: 100%;
	padding: 30px;
	color: #ffcc00;
	font-size: 24px;
	font-family: "NotoSansKR";
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sticky_footer .title span {
	font-style: italic;
}
.sticky_footer .title {
	margin-right: 30px;
}

.sticky_footer_button_group a {
	margin-right: 5px;
}
.sticky_footer_button_group img {
	width: 134px;
}
.btn_close {
	position: absolute;
	top: 30px;
	right: 20%;
}
.btn_close img {
	width: 16px;
}
/****************** NAV ******************/

.section_nav {
	padding: 20px 0;
	border-bottom: 2px solid #db4325;
}
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	max-width: 1280px;
}
header a {
	color: #101010;
	font-size: 18px;
	font-family: "NotoSansKR";
	font-weight: 700;
}
header .header_mypool {
	width: 84px;
}
header .header_skt {
	width: 114px;
}
.menu_group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu_group a {
	padding-left: 60px;
}
.menu_group .skt_logo {
	padding-left: 100px;
}

/* ================================  INDEX PAGE  ================================= */

.section_intro {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: url(./src/assets/intro_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 0;
}
.intro_text_wrapper {
	margin-bottom: 150px;
}
.text_intro_group,
.download_group {
	max-width: 1185px;
	width: 100%;
	margin: auto;
}
.text_intro_group img {
	display: block;
}
.download_group img {
	width: 180px;
}
.text_intro_01 {
	margin-bottom: 20px;
}
.text_intro_02 {
	margin-bottom: 50px;
}
.download_group {
	margin-top: 20px;
}
.download_group a {
	padding-right: 8px;
}
.model_wrapper {
	height: 817px;
}
.seciont_subscribe img,
.section_features img,
.section_oneday_oneclass img,
.section_mypool_smartlearning img,
.section_steps img,
.section_reviews img,
.video_wrapper iframe {
	display: block;
	margin: auto;
}

.section_features {
	background-image: -moz-linear-gradient(
		90deg,
		rgb(252, 208, 31) 0%,
		rgb(251, 140, 50) 33%
	);
	background-image: -webkit-linear-gradient(
		90deg,
		rgb(252, 208, 31) 0%,
		rgb(251, 140, 50) 33%
	);
	background-image: -ms-linear-gradient(
		90deg,
		rgb(252, 208, 31) 0%,
		rgb(251, 140, 50) 33%
	);
}

.section_oneday_oneclass {
	background-color: #000;
}

.section_steps {
	background-color: #232323;
}
.review_title_01 {
	margin-bottom: 70px !important;
}
.review_title_02 {
	margin: 120px auto 50px !important;
}

.footer_button_group {
	max-width: 1280px;
	width: 100%;
	margin: auto;
	padding: 13px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.company_link,
.policy_use {
	color: #686868;
	font-size: 15px;
	font-family: "NotoSansKR";
	font-weight: 700;
	padding: 0;
	margin-right: 30px;
}
.company_link:hover,
.policy_use:hover {
	color: #686868;
}
.policy_privacy {
	color: #c32222;
	font-size: 15px;
	font-family: "NotoSansKR";
	font-weight: 700;
	padding: 0;
}
.policy_privacy:hover {
	color: #c32222;
}
.btn-check:focus + .btn,
.btn:focus {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.company_info_group {
	color: #494949;
	font-size: 14px;
	font-family: "NotoSansKR";
	font-weight: 500;
	background-color: #f2f2f2;
	padding: 27px 0 46px;
}
.company_info_contents_wrapper {
	max-width: 1280px;
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.company_info_contents_wrapper img {
	margin-top: 10px;
	margin-right: 100px;
}
.company_info_contents p {
	line-height: 25px;
}
.company_info_contents p:nth-of-type(4) {
	line-height: 35px;
}
.modal-body {
	line-height: 1.5rem;
	padding: 7rem;
}
.modal-body h1 {
	margin-bottom: 70px;
}

/* ================================  ENGLISH PAGE  ================================= */

.section_cn_intro {
	background-image: url(./src/assets/cn_intro_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 80px;
}
.section_cn_intro img,
.section_common img,
.section_feature img,
.section_intonation img,
.section_pronunciation img,
.section_program img {
	display: block;
	margin: auto;
}
.section_common,
.section_program {
	background-color: #f3f3f3;
}
.section_pronunciation {
	background-image: url(./src/assets/section_pronunciation_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.section_pronunciation img {
	margin-top: 80px;
}

/* ================================  CHINESE PAGE  ================================= */

.section_eng_intro {
	background-image: url(./src/assets/eng_intro_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 80px;
}
.section_eng_intro img,
.section_teachers img,
.section_theme img,
.section_style img,
.section_eng_curriculum img {
	display: block;
	margin: auto;
}
.section_theme {
	background-color: #202020;
}
.section_style {
	background-image: url(./src/assets/section_style_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.section_theme {
	background-image: url(./src/assets/section_theme_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* ================================  TOEIC PAGE  ================================= */

.section_toeic_intro {
	background-image: url(./src/assets/toeic_intro_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 80px;
}
.section_toeic_intro img,
.section_unlimited_class img,
.section_program img,
.section_collabo img,
.section_ten_minute img,
.section_toeic_curriculum img,
.section_real_smartlearning img,
.section_goals img {
	display: block;
	margin: auto;
}
.section_program,
.section_ten_minute {
	background-color: #f8f8f8;
}
.section_toeic_curriculum {
	background-color: #4a4a4a;
}
.section_real_smartlearning {
	background-color: #ffc600;
}
