.section_toeic_intro {
	background-image: url(../assets/toeic_intro_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 80px;
}
.section_toeic_intro img,
.section_unlimited_class img,
.section_program img,
.section_collabo img,
.section_ten_minute img,
.section_toeic_curriculum img,
.section_real_smartlearning img {
	display: block;
	margin: auto;
}
.section_program,
.section_ten_minute {
	background-color: #f8f8f8;
}
.section_toeic_curriculum {
	background-color: #4a4a4a;
}
.section_real_smartlearning {
	background-color: #ffc600;
}
